html, body {
    margin:0;
    padding: 0;
}

h1, p{
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

#main{
    background: url(https://w.namu.la/s/f3cc498b3321288793ce9af5952cf88e8e549ece165cdd5885a9293d7c60edb0dac186e1149c6153befc3e7d47d1b5e3441b47ae70b55a32b75448410d2393ca99768913a830836d300bc504e385be0d52862041b5817862b312115d115f2b890891fa6118005f79b5e1188c81ddb7b4) no-repeat;
    background-size: cover;
    background-position: top right;
    width: 100vw;
    height: 100vh;
    font-family: 'Questrial', sans-serif;
}

#contents{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
    text-align: center;
}

#contents h1{
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    margin-bottom: 16px;
}

#contents p{
    font-size: 23px;
    margin-bottom: 16px;
}

#contents a{
    display: inline-block;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
}

#contents a:hover{
    background-color: lightgreen;
}

@media(max-width:769px){
    #contents h1{
        font-size: 50px;
    }
    
    #contents p{
        font-size: 20px;
    }

    #contents a{
        font-size: 14px;
    }
}

#contents h2{
    font-size: 20px;
}

#contents h3{
    font-size: 10px;
}