html, body {
    margin:0;
    padding: 0;
}

h1, p{
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

#main{
    background: url(https://w.namu.la/s/7cceaf044543dd757e7ce14de859f1988ff938f7ce23015f21f7177b74fd4c1e1b4109d2ae4f2a216e5a20e353f4aea378dd88bc7361602e706110df94fcdf80ab621795cd1f1cca7ff14abcf7ecc97c8d9a3d013b58959d7e410ccdda7babcbe905dc35342a3376ba94be7275660dc2) no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100vw;
    height: 100vh;
    font-family: 'Questrial', sans-serif;
}

#contents{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: white;
    text-align: center;
}

#contents h1{
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    margin-bottom: 16px;
}

#contents p{
    font-size: 23px;
    margin-bottom: 16px;
}

#contents a{
    display: inline-block;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
}

#contents a:hover{
    background-color: lightgreen;
}

@media(max-width:769px){
    #contents h1{
        font-size: 50px;
    }
    
    #contents p{
        font-size: 20px;
    }

    #contents a{
        font-size: 14px;
    }
}

#contents h2{
    font-size: 20px;
}

#contents h3{
    font-size: 10px;
}